@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

:root {
    font-family: 'Chivo Mono', monospace;
    --second-color: #00ADB5;
    --background-color: #222831;
    --mid-color: #393E46;
    --main-color: #00FFF5;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.bg {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: -1;
    background: linear-gradient(245deg, #1d3a65, #165f67);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modal {
    border: 1px solid var(--second-color);
    background-color: var(--mid-color);
    box-shadow: 0px 0px 23px -4px var(--main-color);
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
}

button {
    outline: none;
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--second-color);
    cursor: pointer;
    margin: 4px;
}

button:hover {
    border-bottom: 2px solid var(--main-color);
}

.modal h1 {
    display: block;
    border-bottom: 0px;
    margin-bottom: .5em;
    padding-top: .5em;
    margin: 0 0 .25em 0;
    padding: 0;
    color: var(--main-color);
}

.modal form > div {
    margin-bottom: 1em;
}

.modal form > div > label {
    color: var(--second-color);
    display: block;
}

.modal form > div > input {
    width: 100%;
}

.modal div.action {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--main-color);
    margin-top: .5em;
    padding-top: .5em;
}

input::placeholder {
    color: var(--second-color);
    opacity: .20;

}

input, input:focus, select:focus {
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    border: 0.075px solid var(--main-color);
    outline: 0;
    background-color: var(--background-color);
    opacity: 0.80;
    color: var(--second-color);
}